%h1 Beers
= simple_form_for Beer.new, :remote => true, :html => {:class => "form-inline"} do |f|
  = f.input :name
  = f.input :alc, :as => :string
  = f.submit
%hr
#beers_list
  = render "beers_list"


