%h1 Beers
= form_for Beer.new, :html => {:class => "form-inline"} do |f|
  = f.text_field :name, :placeholder => "name", :class => "form-control", :autofocus => true
  = f.text_field :alc, :placeholder => "alc", :class => "form-control"
  = f.submit "add beer", :class => "form-control btn btn-success"
%hr
#beers_list
  = render "beers_list"


