%h1 Locations
= form_for Location.new, :html => {:class => "form-inline"} do |f|
  = f.text_field :name, :placeholder => "name", :class => "form-control", :autofocus => true
  = f.text_field :latitude, :placeholder => "latitude", :class => "form-control"
  = f.text_field :longitude, :placeholder => "longitude", :class => "form-control"
  = f.submit "add location", :class => "form-control btn btn-success"
%hr
#locations_list
  = render "locations_list"
