%h1 Locations
= form_for Location.new, :remote => true, :html => {:class => "form-inline"} do |f|
  = f.text_field :name, :placeholder => "name"
  = f.text_field :latitude, :placeholder => "latitude", :type => "string"
  = f.text_field :longitude, :as => :string, :placeholder => "longitude"
  = f.submit "add location"
%hr
#locations_list
  = render "locations_list"
