%h1
  = @location
  %small
    = link_to "map", "http://maps.google.com/maps/place/#{@location.name}/@#{@location.latitude},#{@location.longitude},18z", :target => :_blank
%h3 Beers
= form_for MenuItem.new, :remote => true, :html => {:class => "form-inline"} do |f|
  = f.hidden_field :location_id, :value => @location.id
  = f.collection_select :beer_id, Beer.all, :id, :to_s, {:prompt => "select beer"}, {:class => "form-control"}
  = f.text_field :price, :placeholder => "cents", :class => "form-control"
  = f.text_field :amount, :placeholder => "ml", :class => "form-control"
  = f.submit "add beer"
%hr
#menu_items_list
  = render "menu_items/menu_items_list"
